/* Variables */
$purple : #49394F;
$red : #FD6D62;
$yellowish : #FFCA6F;
$radius: 10px;
:root {
  --mainColor: #FD6D62;
}
/* # Variables */
body{
  background-color: whitesmoke;
}
a {
  color: var(--mainColor);
}

.login-window{
  margin: 4em auto;
  border: 1px solid $purple;
  position: relative;
  .login-header{
    background-color: $purple;
    padding: $radius;
    h2{
      margin: 10px 0;
    }
  }
}
